.world__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 48px 0;
}

.world__title {
  width: 540px;
}

.text__subtitle {
  color: var(--text-gray-900, #18191f);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  width: 540px;
  position: relative;
  top: 32px;
}

.world__content {
  display: flex;
  flex-direction: column;
}
